* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.card-wrapper > *:not(.not-card):not(.card-wrapper):not(.link-card-wrapper), .link-card-wrapper a {
    width: 500px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

body {
    background-color: #111111; /*CDB99C 221111  55D7F7     F9F2E7     1C140D  CBE86B*/
    color: #00C6FF;
    background-image: url('http://justinplubin.com/v3/images/bg.png');
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
}

#mainNav {
    float: left;
    height: 100%;
    width: 200px;
    padding: 15px;
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.5) inset;
    position: fixed;
}

    #mainNav h3 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
    }

    #mainNav ul {
        list-style-type: none;
    }

        #mainNav ul li a {
            width: auto;
            display: block;
            font-size: 1.1em;
            text-decoration: none;
            -webkit-transition: color 0.2s, border-left 0.2s;
            -moz-transition: color 0.2s, border-left 0.2s;
            -ms-transition: color 0.2s, border-left 0.2s;
            -o-transition: color 0.2s, border-left 0.2s;
            transition: color 0.2s, border-left 0.2s;
        }

            #mainNav ul li a:hover {
                color: #0099cc;
                border-left: 3px solid #0099cc;
            }

#content {
    margin-left: 200px;
}

    #content h1 {
        font-size: 3em;
        margin-bottom: 10px;
    padding: 20px;
    /*color: #CBE86B;*/
/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
font-family: 'Roboto Slab', serif;
font-weight: 400;
    }

    #content h2 {
        font-size: 1.7em;
        margin-bottom: 10px;
        /*color: #CBE86B;*/
font-family: 'Roboto Slab', serif;
font-weight: 400;
/*color: #F9F2E7;*/

    }

    #content h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #CBE86B;

    }

    #content form {
        display: inline-block;
        font-size: 1.1em;
    }

        #content form div {
            margin-bottom: 15px;
        }

        #content form label {
            font-size: 1.2em;
        }

        #content form input[type="text"], #content form input[type="password"] {
            display: block;
            width: 100%;
        }

        #content form input[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px 15px;
            background-color: transparent;
            border: 1px solid #888;
            cursor: pointer;

            background: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
            background: -moz-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
            background: -ms-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
            background: -o-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
            background: linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
        }

            #content form input[type="submit"]:active {
                outline: none;
                background: -webkit-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
                background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
                background: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
                background: -o-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
                background: linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
            }

        #content form .error {
            color: #CC0000;
            font-style: italic;
            font-size: 0.8em;
            float: right;
        }

#all-users {
    list-style-type: none;
}

    #all-users li {
        display: inline-block;
    }

        #all-users li a {
            display: block;
            width: 200px;
            height: 200px;
            line-height: 160px;
            font-size: 1.3em;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-radius: 2px;
            -webkit-transition: color 0.2s, border-bottom 0.2s;
            -moz-transition: color 0.2s, border-bottom 0.2s;
            -ms-transition: color 0.2s, border-bottom 0.2s;
            -o-transition: color 0.2s, border-bottom 0.2s;
            transition: color 0.2s, border-bottom 0.2s;
        }

            #all-users li a:hover {
                color: #0099cc;
                border-bottom: 3px solid #0099cc;
            }

#profile-stats {
    list-style-type: none;
}

   #profile-stats li {
        display: block;
        width: 400px;
        background-color: #FFFFFF;
        color: #000000;
        margin: auto;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

#singleplayer a {
    display: block;
    width: 500px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    -moz-transition: color 0.2s, border-bottom 0.2s;
    -ms-transition: color 0.2s, border-bottom 0.2s;
    -o-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

    #singleplayer a:hover {
        color: #0099cc;
        border-bottom: 3px solid #0099cc;
    }

#leaderboard {
    width: 500px;
    margin: auto;
}

#leaderboard h2 {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

#leaderboard table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 500px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

    #leaderboard table tr + tr {
        border-top: 1px solid #AAAAAA;
    }

        #leaderboard table tr td + td {
            border-left: 1px solid #AAAAAA;
            padding: 20px;
        }

        #leaderboard table tr td:nth-child(1) {
            width: 20%;
            background-color: #EEEEEE;
        }

        #leaderboard table tr td:nth-child(2) {
            width: 40%;
        }

        #leaderboard table tr td:nth-child(3) {
            width: 40%;
        }