* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    background-color: #3f72a5;
    /* Original Image: http://en.wikipedia.org/wiki/File:GoraBeluha.jpg */
    /* Modified by Justin Lubin */
    background-image: url("img/bg4_c.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #FFFFFF;
    /* http://css-tricks.com/snippets/css/better-helvetica/ */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    font-weight: 300;
}

#mainNav {
    float: left;
    height: 100%;
    width: 200px;
    border-right: 1px solid #FFFFFF;
    position: fixed;
}

    #mainNav h3 {
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        margin: 20px;
    }

    #mainNav ul {
        list-style-type: none;
    }

        #mainNav ul li a {
            display: block;
            font-size: 1.1em;
            text-decoration: none;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -ms-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }

            #mainNav ul li:nth-child(1) a {
                border-top: 1px solid #FFFFFF;
            }

            #mainNav ul li a:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

#content {
    margin-left: 200px;
}

    #content h1 {
        text-align: center;
        font-size: 3em;
        font-weight: 300;
        margin-bottom: 10px;
        padding: 20px;
    }

    #content h2 {
        font-size: 1.7em;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #content h3 {
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #content form {
        margin: auto;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 2px;
        overflow: auto;
    }

        #content form div {
            margin-bottom: 15px;
        }

        #content form label {
            color: rgba(255, 255, 255, 0.7);
            font-size: 1em;
        }

        #content form input {
            display: block;
            background-color: rgba(0, 0, 0, 0.3);
            color: #FFFFFF;
            font-family: inherit;
            font-size: 1em;
            border: none;
            border-radius: 2px;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -ms-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }

            #content form input[type="text"], #content form input[type="password"] {
                width: 100%;
                padding: 7px;
                outline: none;
            }

                #content form input[type="text"]:focus, #content form input[type="password"]:focus {
                    background-color: rgba(0, 0, 0, 0.4);
                }

            #content form input[type="submit"] {
                padding: 10px;
                cursor: pointer;
                float: right;
            }

                #content form input[type="submit"]:hover {
                    outline: none;
                    background-color: rgba(0, 0, 0, 0.4);
                }

        #content form .general-error {
            font-size: 0.8em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
        }

        #content form .error {
            font-size: 0.8em;
            font-weight: bold;
            margin-top: 0.2em;
            float: right;
        }

#all-users {
    list-style-type: none;
}

    #all-users li a {
        display: block;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
        font-size: 1.3em;
        text-decoration: none;
        margin: auto;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 2px;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -ms-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

        #all-users li a:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

#profile-stats {
    list-style-type: none;
}

    #profile-stats li {
        display: block;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
        font-size: 1.3em;
        text-decoration: none;
        margin: auto;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 2px;
    }

    #multiplayer_chart_left {
        display: inline-block;
        width: 300px;
        float: left;
    }

    #multiplayer_chart_right {
        display: inline-table;
        height: 300px;
        margin-left: 20px;
    }

        #multiplayer_chart_right > div {
            display: table-cell;
            vertical-align: middle;   
        }

            #multiplayer_chart_right > div > div {
                font-family: "Inconsolata", monospace;
                white-space: pre;
            }

#singleplayer a {
    display: block;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-size: 1.3em;
    text-decoration: none;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 2px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

    #singleplayer a:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

#leaderboard {
    width: 80%;
    margin: auto;
}

    #leaderboard h2 {
        text-align: left;
        margin-left: 20px;
    }

    #leaderboard table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 2px;
    }
        #leaderboard table tr + tr {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

            #leaderboard tr td {
                padding: 20px;
            }

                #leaderboard table tr td + td {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    
                }

                #leaderboard table tr:first-child td:first-child {
                    border-top-left-radius: 2px;
                }

                #leaderboard table tr:last-child td:first-child {
                    border-bottom-left-radius: 2px;
                }

                #leaderboard table tr td:nth-child(1) {
                    width: 10%;
                    background-color: rgba(0, 0, 0, 0.1);
                    text-align: center;
                }

                #leaderboard table tr td:nth-child(2) {
                    width: 45%;
                    padding: 0;
                }

                #leaderboard table tr td:nth-child(3) {
                    width: 45%;
                }

                #leaderboard tr td a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: inherit;
                    text-decoration: none;
                    padding: 20px;
                    -webkit-transition: background-color 0.2s;
                    -moz-transition: background-color 0.2s;
                    -ms-transition: background-color 0.2s;
                    -o-transition: background-color 0.2s;
                    transition: background-color 0.2s;
                }

                    #leaderboard tr td a:hover {
                        background-color: rgba(255, 255, 255, 0.05);
                    }