* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.vertical-center {
    display: table;
}

.vertical-center > * {
    display: table-cell;
    vertical-align: middle;
}

html, body {
    height: 100%;
}

body {
    background-color: #EEEEEE;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

#mainNav {
    float: left;
    height: 100%;
    width: 200px;
    padding: 15px;
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.5) inset;
}

    #mainNav h3 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
    }

    #mainNav ul {
        list-style-type: none;
    }

        #mainNav ul li {
            
        }

            #mainNav ul li a {
                display: block;
                background-color: #FFFFFF;
                color: #000000;
                font-size: 1.1em;
                text-decoration: none;
                margin-bottom: 10px;
                padding: 20px;
                border-left: 3px solid transparent;
                border-radius: 2px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                -webkit-transition: color 0.2s, border-left 0.2s;
                -moz-transition: color 0.2s, border-left 0.2s;
                -ms-transition: color 0.2s, border-left 0.2s;
                -o-transition: color 0.2s, border-left 0.2s;
                transition: color 0.2s, border-left 0.2s;
            }

                #mainNav ul li a:hover {
                    color: #0099cc;
                    border-left: 3px solid #0099cc;
                }

#content {
    margin-left: 200px;
    padding: 20px;
}

    #content h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }

    #content form {
        width: 500px;
        display: inline-block;
        text-align: left;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 1.1em;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    #content form div {
        margin-bottom: 15px;
    }

    #content form input[type="text"], #content form input[type="password"] {
        display: block;
        width: 100%;
    }

    #content form input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px 15px;
        background-color: transparent;
        border: 1px solid #888;
        cursor: pointer;

        background: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
        background: -moz-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
        background: -ms-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
        background: -o-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
        background: linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);
    }

    #content form input[type="submit"]:active {
        outline: none;
        background: -webkit-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        background: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        background: -o-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
        background: linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
    }

    #content form .error {
        color: #CC0000;
        font-style: italic;
        font-size: 0.8em;
        float:right;
    }